* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    margin: 300px 600px;
    transform-style: preserve-3d;
    transition: 2.9s;

}

.box {
    width: 240px;
    height: 240px;
    border: 1px solid black;
    position: absolute;
}

.box1 {
    left: 0px;
    transform: rotateY(90deg) translateZ(-120px);
    background-color: teal;
}

.box2 {
    left: 240px;
    transform: rotateY(90deg) translateZ(-120px);
    background-color: blue;
}

.box3 {
    top: -240px;
    transform: rotateX(90deg) translateZ(-120px);
    background-color: red;
}

.box4 {
    top: 0px;
    background-color: aqua;
    transform: rotateX(90deg) translateZ(-120px);
}

.box5 {

    background-color: black;
    transform: rotateX(180deg) translateZ(-120px);

}

.box6 {
    background-color: green;
    transform: rotateX(180deg) translateZ(120px);
}